#LoginContainer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://cdn.discordapp.com/attachments/1090752455752548443/1105481544702894131/Farhaz_wearing_diferent_cloth_styles_and_cool_looking_8ddbfb75-0ada-41a5-8bf2-6b970cf2eed3.png")
        center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#loginForm{
    background-color: rgba(255, 255, 255, 0.55);
    padding: 0px 60px;
    border-radius: 10px;
}

#loginTitle{
    font-family: 'Kalam', cursive;

    padding: 10px;
    color: rgb(77, 1, 77);
    text-align: center;
}

.loginsubmitbutton{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

#NoAcc{
    font-size: large;
    font-weight: 900;
    margin-bottom: 20px;
    text-decoration: none;
}
