.chat-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 9999;
  }


  
  .chat-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
  }

  .chat-messages::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #F5F5F5;
  }
  
  .chat-messages::-webkit-scrollbar-thumb {
    background-color: #89e089;
    border-radius: 5px;
  }
  
  .chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: #9cc29c;
  }
  
  
  .chat-message {
    max-width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    word-wrap: break-word;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  .chat-message.sent {
    background-color: #DCF8C6;
    color: #333;
    border-radius: 15px 15px 0 15px;
    margin-right: auto;
    margin-left: 5px;
    max-width: 80%;
    padding: 10px;
  }
  
  .chat-message.received {
    background-color: #F2F2F2;
    color: #333;
    border-radius: 15px 15px 15px 0;
    margin-left: auto;
    margin-right: 5px;
    max-width: 80%;
    padding: 10px;
  }
  
  .chat-message-timestamp {
    font-size: 0.8rem;
    color: #8e8e8e;
    margin-top: 5px;
    justify-content: flex-end;
  }


  .chat-reply-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .chat-reply-input {
    flex: 1;
    height: 2rem;
    font-size: 18px;;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 2px 5px;
  }
  
  .chat-reply-button {
    height: 2.4rem;
    width: auto;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
    
  }
  
  
  .chat-message.left-align {
    float: left;
    clear: both;
    margin-right: 10px;
    margin-left: 0;
  }
  
  .chat-message.left-align.sent {
    border-radius: 15px 15px 15px 0;
  }
  
  .closeBtn{
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 25px;
    border: 1px solid gray;
    padding: 1px 3px;
    background-color: lightcoral;
    margin-top: 5px;
  }
  
  
  @media only screen and (max-width: 600px) {
    .chat-container {
      width: 250px;
      height: 350px;
    }
    .chat-reply-input {
        flex: 3;
        width: 60px;
    }

    .chat-reply-button {
        flex: 1;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .chat-container {
    bottom: 40px;
    right: 20px;
      width: 250px;
      height: 300px;
    }
    .chat-reply-input {
        flex: 3;
        width: 40px;
        font-size: 16px;
    }

    .chat-reply-button {
        flex: 1;
    }

  }